*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

nav{
    background-color: #222222;
    box-shadow: 3px 3px 4px #ff2d2d;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #2b24241d;
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10px #1f1a1a;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all .5s ease;
    cursor: pointer;
}

.sidebar li{
    width: 100%;
}

.sidebar li{
    width: 100%;
}

.menuButton{
    display: none;
}

@media(max-width: 800px){
.hideOnMobile{
    display: none;
}

.menuButton{
    display: block;   
}
}

@media(max-width: 500px){
    .sidebar{
        width: 100%;
    }
}

@media screen and (min-width: 801px) {
    .sidebar {
      display: none!important;
    }
  }

nav a:hover{
    border-bottom: #006aff 5px solid;
    transition: all .3s ease;
    font-weight: bold;
    border-radius: 3px;
}

nav a:active,.active{
    font-weight: bold;
}

.svgimg{
    color:#fff;
}

